<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlf.system.mapper.DiscussMapper">

    <resultMap id="BaseResultMap" type="com.xlf.system.domain.Discuss">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="topicId" column="topic_id" jdbcType="BIGINT"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,topic_id,user_id,
        content,create_time,create_by,
        update_time,update_by,remark
    </sql>

    <sql id="selectDisCussList">
        select d.*,count(distinct dt.user_id) as thumbsNum,count(distinct c.id) as commentNum from discuss as d
                left join comment c on d.id = c.discuss_id
                left join d_thumbs dt on d.id = dt.discuss_id
    </sql>
    <select id="getDisCussListByTopicId" resultType="com.xlf.system.domain.Discuss">
        <include refid="selectDisCussList"></include>
        ${ew.customSqlSegment}
    </select>
</mapper>
