<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlf.system.mapper.TopicMapper">

    <resultMap id="BaseResultMap" type="com.xlf.system.domain.Topic">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="picture" column="picture" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="updateBy" column="update_by" jdbcType="VARCHAR"/>
            <result property="remark" column="remark" jdbcType="VARCHAR"/>
            <result property="view" column="view" jdbcType="BIGINT"/>

    </resultMap>

    <sql id="Base_Column_List">
        id,title,content,
        picture,create_time,create_by,
        update_time,update_by,remark,`view`
    </sql>

    <sql id="select">
        select t.*,count(distinct t_t.user_id) as thumbsNum,count(distinct d.id) as discussNum
        from topic t
                 left join t_thumbs t_t on t.id = t_t.topic_id
                 left join discuss d on t.id = d.topic_id
    </sql>


    <select id="getListByWrapper" resultType="com.xlf.system.domain.Topic">
         <include refid="select"></include>
        ${ew.customSqlSegment}
    </select>
    <select id="getTopicById" resultType="com.xlf.system.domain.Topic">
        <include refid="select"></include>
        ${ew.customSqlSegment}
    </select>
</mapper>
